<!DOCTYPE html>
 <html lang="es">
<head>
       <title>Bebidas</title>
       <meta charset="Uft-8">

      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <iframe src="../templates/header.html" id="iframe-head" ></iframe>
        
</head>
      
    <body>
    <div id="container">
    <div id="h2">
        <a name="#Bebidas">Bebidas</a>
    
    </div>
    <br>
    <br>
    <div id="img">
    <img src="../img/bebidas.jpg" width="50%" id="img3"><img src="../img/cafe.jpeg" width="50%">
    </div>
    <br>


       <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
    <br>

    <p>
       Tanto para tomar un café, sorbetes, batidos de todo tipo de frutas, como acompañamiento para degustar nuestros exquisitos pasteles o simplemente para comprar tu pan de cada día, tienes a tu disposición nuestra panaderia.
       En ella vas a encontrar un gran servicio y calidad en nuestros productos pero, sobre todo, vas a sentirte bien en un ambiente cálido y acogedor.
    </p>
    <br>
    <br>

    <div id="img2">
    <img src="../img/cafe2.jpg" width="30%" id="img3">
    <img src="../img/batido.jpg" width="30%" id="img3">
    <img src="../img/jugos.jpg" width="30%">
  </div>
   
   <br>
   <br>
   <p>
    Te ofrecemos jugos naturales de la fruta que mas te guste, batidos de ruta con pura leche que te van a encantar, y lo mas tradicional de Colombia un buen tinto o un buen cafe con leche.
</P>
<br>

<div id="img2">
    <img src="../img/tinto.jpg" width="30%" id="img3">
    <img src="../img/jugomora.jpg" width="30%" id="img3">
    <img src="../img/jugouva.jpg" width="30%">
</div>

<br>
<br>
<br>

</div>
<iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>

</body>

</html>