<!DOCTYPE html>
 <html lang="es">
<head>
       <title>Como Llegar</title>
       <meta charset="Uft-8">

     <link rel="stylesheet" type="text/css" href="../css/style.css">
     <iframe src="../templates/header.html" id="iframe-head" ></iframe>
        
</head>
    <body>
    <div id="container">
    <br>
    <br>
    <div id="h2">
        <a name="#llegar">Como llegar</a>
        <br>
        <br>
    </div>
    <br>
    <div id="img">
    <img src="../img/mapa.png" width="60%">
    </div>

    <br>
    <br>
       <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
  
    <br>
    <br>
    <p>
      La Panaderia Dani esta ubicada en el barrio Marco Fidel Suarez, al lado de un conjunto de apartamentos Las vegas de Francisco
    </p>
      
    <p><div id="mih2">
      Direccion:
      </div>
    </p>
        
    <p>
        Diagonal 49 sur #13h-54

    </p>
     
    <p><div id="mih2">
      Telefono:
      </div>
    </p>
       
    <p>
       3125520814 para que no te pierdas o para hacer domicilios.
    </p>
    <p><div id="mih2">

        Horario: 
    </div>
    </p>
    <p>
    Lunes a viernes de 7:00 am a 8:30 pm- Sabados y Domingos de 8:00 am a 7:00 pm.
       
    </p>
    <p>
       Te esparamos visitanos.
    </p>

    <div id="img">
    <img src="../img/panaderia.jpg" width="60%">
    </div>

<br>
<br>
    </div>
    <iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>
</body>
</div>
</html>
    