<!DOCTYPE html>
 <html lang="es">
<head>
       <title>Contactanos</title>
       <meta charset="Uft-8">
      
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <iframe src="../templates/header.html" id="iframe-head" ></iframe>
       
</head>
    <body>
    <div id="container">
   <div id="h2">
        <a name="#Contacto">Contacto</a>
   </div>
    
    <br>
    <br>
    <br>
      
       <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
    <br>

    
    
    <p>
       La Panaderia Dani esta ubicada en el barrio Marco Fidel Suarez, al lado de un conjunto de apartamentos en la dirreccion:
        Diagonal 49 sur #13h-54, o si quieres nos puedes llamar a: 3125520814 para que no te pierdas o para hacer domicilios.
        Horario: Lunes a viernes de 7:00 am a 8:30 pm- Sabados y Domingos de 8:00 am a 7:00 pm.
        Te esparamos visitanos.
    </p>


<div id="container2">
<div class="h1">   
    Contactanos
</div>
    <form>
        <p>
            <input type="radio" name="servicio" value="cliente" checked>Cliente
            <input type="radio" name="servicio" value="particular">Particular
        </p>
        <p>
            <label>Motivo del Mensaje</label>
        </p>
        <p>
           <select name"motivo">
            <option>Quejas</option>
            <option>Sugerencias</option>
            <option>Soporte Tecnico</option>
            <option>Nuevo Servicio</option>
            <option selected="selected">--Seleccionar--</option>
          </select>
        </p>
        <p>

          <div>
              <label>Nombre:</label>
            </div>
            <input type="text" name="nombre"/>
        </p>
        <p>
            <div>
                <label>Email:</label>
            </div>
            <input type="text" name="email"/>
        </p>
        
        <p>
             <label> Deja tu comentario..
             </label>
        </p>
        
        <p>
          <textarea name="comentario"

              cols="100" rows="10">
          </textarea>
        </p>

        <p>
             <input type="submit" value="Enviar mensaje"/>
             <input type="reset" value="Limpiar datos"/>
        </p>



</body>
</div>
<br>
<br>

</div>
<iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>


</html>