<!DOCTYPE html>
 <html lang="es">
<head>
       <title>Eventos</title>
        <meta charset="Uft-8">
       
       <link rel="stylesheet" type="text/css" href="css/style.css">
        
              
</head>
    <body>
    <div id="container">
    <div id="h2">
        <a name="#Eventos">Eventos</a>
    </div>
    <br>
    <div id="img">
    <img src="img/cafepan.jpeg" width="60%">
    </div>
    <br>

    <p>
      Tenemos eventos tales como los viernes sacamos a ofrecer nuestros postres con un bajo precio, es decir desde: $1000 pesos. Ven y acompañanos cada viernes desde las 4:00 pm
    </p>

    <div id="img">
    <img src="img/panes4.jpg" width="60%">

</body>
</div>
</html>