<!DOCTYPE html>
<html lang="es">
    <head>
       <title>Mision</title>
       <meta charset="Uft-8">

      <link rel="stylesheet" type="text/css" href="../css/style.css">
       <iframe src="../templates/header.html" id="iframe-head" ></iframe>

      </head>
      <body>
  <div id="container">
   <br>
   <br>
   <center>
      
      <div id="h2">
        <a name="Mision">Mision</a>
      </div>
      <br>
      <br>
    
    <div id="img">
    <img src="../img/panesmis.jpg" width="50%">
  </div>
    <br>
    <br>

      <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
    <br>
    <br>

    <p>
    Somos una Panaderia donde ofrecemos toda clase de panes, pasteles, bebidas que llenen las expectativas del cliente  en cuanto a calidad, sabor y cumplimiento, con un alto nivel de semillas tradicionales para toda clase de panes la más alta calidad, de harina, leche, frutas, generando con ello el bienestar y satisfacción de sus clientes en los servicios de buena alimentacion.
   </p>
   <br>

    <div id="img">
    <img src="../img/pan2.jpeg" width="50%">
    </div>
    <br>

    </div>
    <iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>


  </body>
</div>
</html>

