 <!DOCTYPE html>
 <html lang="es">
<head>
       <title>¿Quienes somos?</title>
      <meta  http-equiv="Content-Type" content="text/html; charset=utf-8"/>

       <link rel="stylesheet" type="text/css" href="../css/style.css">
       <iframe src="../templates/header.html" id="iframe-head" ></iframe>
        
      
</head>
    </body>
    <div id="container">
    <br>
    <br>
    <div id="h2">
        <a name="Historia">Conoce Nuestra Historia</a>
        <br>
        <br>
    </div>
    <br>
    
    <div id="img">
    <img src="../img/panaderia2.jpg" width="60%">
    </div>
    <br>
    <br>
    <br>

  

       <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
 
  <br>
  <br>

    <p>
        Panaderia Dani fue fundada en el año 2015, todo comenzo cuando se empezo a vender el pan en un puesto de mercados en el bariio Marco Fidel Suarez en Bogota, Colombia.
        la gente que compraba el pan le parecia delicioso y nos decian que pusieramos una panaderia que tuviera todo lo que la gente necesitaba tanto como panes, 
        tortas, bocadillos, bebidas, entre otras. Realmente no se tenia el suplemento economico para tener una panaderia, pero despues de tener unos ahorros de 
        la venta de los panes, y un prestamo conseguimos iniciar la Panaderia Dani , hasta el dia de hoy a la panaderia le a ido muy bien, tiene un mayor flujo de clientes y de ingresos.
    </p>
    
    <br>
    <br>
    </div>
     <iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>

</body>
</html>



    

