<!DOCTYPE html>
 <html lang="es">
<head>
       <title>PANES</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <iframe src="../templates/header.html" id="iframe-head" ></iframe>

</head>
      
   <body>
    <div id="container">
    <div id="h2">
    <a name="#Panes">Panes</a><br>
</div>
   <br>
   <br>
    
    <div id="img">
    <img src="../img/panes.jpg" 
    width="60%">
    </div>
    <br>
    <br>
    
       <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3" >Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3" >Tabla de precios</a></li>

    </ul>
    <br>

    <p>
       El mayor surtido de panes artesanales, con todas las variedades de cereales, blancos, integrales y toda una gama de barras, formas y cortes 
       con los que derretiras de la delicia en tu día a día.Puedes conseguir: Pan frances, pan rollo, pan hojaldrado, pan costeño, mogollas, roscones, pan pera, entre otros, para que escogas los que mas te gusten ya  y lo mejor de todo es que siempre estamos cerca de ti.

    </p>
    <br>
    <br>

    <div id="img2">
    <img src="../img/frances.jpg" width="30%" id="img3">
    <img src="../img/rollo.png" width="30%" id="img3">
    <img src="../img/hojal.jpg" width="30%">
   
    </div>
   
    <p>
    Pan Frances, valor:$2.000 pesos c/u

    </p>

    <p>
    Pan rollo, valor:$200 pesos c/u
    </p>

    <p>
    Pan Hojaldrado, valor:$200 pesos c/u
    </p>
   
      <div id="img2">
    <img src="../img/roscon.jpg" width="30%" id="img3">
    <img src="../img/pera.jpg" width="30%" id="img3">
    <img src="../img/liberal.jpg" width="30%">
    </div>

<p>
Roscones arequipe o bocadillo, valor: $200 pesos c/u
</p>
<p>
Pan pera, valor:$200 pesos c/u
</p>
<p>
Liberales, valor:$1000 pesos c/u
</p>
<br>
<br>

</div>
 <iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>


</body>
</html>

