<!DOCTYPE html>
 <html lang="es">
<head>
       <title>PASTELERIA</title>
       <meta charset="UTF-8">

       <link rel="stylesheet" type="text/css" href="../css/style.css">
       <iframe src="../templates/header.html" id="iframe-head" ></iframe>
    
</head>
    <body>
    <div id="container">
    <div id="h2">
   
        <a name="#Pasteleria">Pasteleria</a>
    </div>
    <br>
    <br>
    
    <div id="img">
    <img src="../img/torta2.jpeg" width="50%" id="img3"><img src="img/cupcake.jpg" width="50%">
    </div>
    <br>
    
       <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
    <br>


    <p>
       El mayor surtido de tortas, dulces, galletas, cupcakes, postres de tres leches, postres de frutas, postres de gelatina con todas las variedades de salsas dulce, frutas, y toda uan variedad de formas ya sean de muñequitos o tradicionales con las que querras comer cada dia de tu vida. No te lo pierdas tienes que probarlo, te espeamos, visitanos.

    </p>
    <br>
    <br>
      <div id="img2">
    <img src="../img/torta3.jpg" width="30%" id="img3">
    <img src="../img/torta4.jpg" width="30%" id="img3">
    <img src="../img/torta5.jpg" width="35%">
</div>
<br>
<br>

<P>
Te ofrecemos tortas de cumpleaños de boda, de ceromonias, de fiesta desde $25.000 pesos hasta $100.000 pesos, con todos los detalles que necesita, con todo el mejor sabor y calidad que vas a disfrutar y seguir viniendo.
</p>
<br>
<br>

 <div id="img2">
    <img src="../img/tortachoco.jpeg" width="30%" id="img3">
    <img src="../img/tortavaini.jpeg" width="30%" id="img3">
    <img src="../img/tortamora.jpeg" width="30%">
</div>
<br>


<P>
Te ofrecemos postres de diferentes sabores y frutas como; de fresa, frambuesa, guanabana, chocolate, entre otros, que van a seguir comiendo ya son muy sabrosos.
</p>
<br>
<br>

</div>
 <iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>

</body>
</div>
</html>