<!DOCTYPE html>
<html lang="es">
<head>
	
	<title> Tabla de Precios</title>
	<meta charset="utf-8">
	
	 <link rel="stylesheet" type="text/css" href="../css/style.css">
	 <iframe src="../templates/header.html" id="iframe-head" ></iframe>
	   
</head>
<body>
	
	<br>
	<br>
	<br>
	<div id="container3">
	<center>
	<div id="h2">
        <a name="precios">Tabla de precios</a>
	</div>
    <br>
    <br>

      <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
  
<br>
<br>
<br>
	<table>
		<thead>
			<th>Item</th>
			<th>Codigo</th>
			<th>Producto</th>
			<th>Precio</th>
		</thead>
		<tbody>
			<br>
			<tr>
                <td>1</td>
				<td>RTC234</td>
				<td>Pan Rollo</td>
				<td>$1.000</td>

		    </tr>
		    <tr>
		       <td>2</td>
		       <td>CDF345</td>
		       <td>Pan Frances</td>
		       <td>$2.000</td>
		    </tr>
		    <tr>
		       <td>3</td>
		       <td>VBM568</td>
		       <td>Pan Hojaldrado</td>
		       <td>$300</td>
		    </tr>
		    <tr>
		       <td>4</td>
		       <td>ZXD124</td>
		       <td>Pan Pera</td>
		       <td>$200</td>
		    </tr>
		    <tr>
		       <td>5</td>
		       <td>BFG593</td>
		       <td>Roscon</td>
		       <td>$200</td>
		    </tr>
		    <tr>
		       <td>6</td>
		       <td>ASE457</td>
		       <td>Mogolla</td>
		       <td>$200</td>
		    </tr>
		    <tr>
		       <td>7</td>
		       <td>GHJ908</td>
		       <td>Postre mora</td>
		       <td>$4.000</td>
		    </tr>
		    <tr>
		       <td>8</td>
		       <td>ZXE174</td>
		       <td>Cafe</td>
		       <td>$1.500</td>
		    </tr>
		    <tr>
		       <td>9</td>
		       <td>CVG310</td>
		       <td>Avena</td>
		       <td>$1.200</td>
		    </tr>
		    <tr>
		       <td>10</td>
		       <td>LPK267</td>
		       <td>Batido de fresa</td>
		       <td>$4.500</td>
		    </tr>


        </tbody>
	</table>
</center>
<br>
<br>
<br>
<br>

</div>
<iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>

</div>
</body>
</html>
