<!DOCTYPE html>
 <html lang="es">
<head>
       <title>Registro</title>
       <meta  http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <iframe src="../templates/header.html" id="iframe-head" ></iframe>
       
</head>
    <body>
    
<div id="container">
    <br>
    <br>
    <div id="h2">
    <a name="#Panes">Accede a nuestros productos</a><br>
</div>

<br>
<br>
<br>
    
       <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
 


    <div id="container2">
   <div class="h1">   
    Resgistrarse
    </div>
    <form>
    	<p>
    		<label>Nombre:</label>
    		<br>
    		<input type="text" name="nombre">
    	</p>
    	
      <p>
        <label>Apellidos:</label>
        <br>
        <input type="text" name="apellidos">
      </p>
      <p>
       
          <label>Sexo:</label>
        </p>
        <p>
          <input type="radio" name="servicio" value="femenino" checked>Femenino
          <input type="radio" name="servicio" value="masculino">Masculino
        </p>
        <p>
          <label>Fecha de Nacimiento:</label>
        </p>

        <select name="Dia">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
          <option>31</option>
           <option selected="selected">--Dia--</option>
          </select>

          <select name="Mes">
          <option>Enero</option>
          <option>Febrero</option>
          <option>Marzo</option>
          <option>Abril</option>
          <option>Mayo</option>
          <option>Junio</option>
          <option>Julio</option>
          <option>Agosto</option>
          <option>Septiembre</option>
          <option>Octubre</option>
          <option>Noviembre</option>
          <option>Diciembre</option>
          
           <option selected="selected">--Mes--</option>
          </select>

          <select name="Año">

          <option>1980</option>
          <option>1981</option>
          <option>1982</option>
          <option>1983</option>
          <option>1984</option>
          <option>1985</option>
          <option>1986</option>
          <option>1987</option>
          <option>1988</option>
          <option>1989</option>
          <option>1990</option>
          <option>1991</option>
          <option>1992</option>
          <option>1993</option>
          <option>1994</option>
          <option>1995</option>
          <option>1996</option>
          <option>1997</option>
          <option>1998</option>
          <option>1999</option>
          <option>2000</option>
          <option>2001</option>
          <option>2002</option>
          <option>2003</option>
          <option>2004</option>
          <option>2005</option>
          <option>2006</option>
          <option>2007</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
          <option selected="selected">--Año--</option>
        </select>

        <p>
        <label>Usuario:</label>
        <br>
        <input type="text" name="usuario">
      </p>

      <p>
        <label>Contraseña:</label>
        <br>
        <input type="text" name="Contraseña">
      </p>
    
       <input type="submit" value="Registrarse"/>
    </div>

    
</div>
<iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>



    </body>
  </div>
  </html>


          
