<!DOCTYPE html>
 <html lang="es">
<head>
       <title>Rifas</title>
       <meta charset="Uft-8">

        <link rel="stylesheet" type="text/css" href="css/style.css">

      
</head>
    <body>
    <div id="container">
    <div id="h2">
        <a name="#rifas">Rifas</a>
    </div>

        <br>
    <div id="img">
    <img src="img/panes5.jpeg" width="60%">
    </div>
    <br>

    <p>

      Tambien te ofrecemos rifas para ganar motos, computadores, por tan solo comprar un producto de nuestra panaderia ya tienes una boleta con que participar. Por eso ven compra y gana.
    </p>
    <div id="img">
    <img src="img/panes6.jpeg" width="60%">

</body>
</div>
</html>
    