<!DOCTYPE html>
 <html lang="es">
<head>
       <title>servicios</title>
       <meta charset="UTF-8">

       <link rel="stylesheet" type="text/css" href="../css/style.css">
       <iframe src="../templates/header.html" id="iframe-head" ></iframe>
    
</head>
    <body>
    <div id="container">
    <div id="h2">
        <a name="#Servicios">Servicios</a>
    </div>
    <br>
    
    <center>
    <div id="img">
    <img src="../img/churros.jpeg" width="60%">
    </div>
    <br>
    <br>
    <br>
      <ul>
      <div id="menu">
      <div class="linkmenu">
      <li><a href= "Panes.html" class="li3">Panes</a></li>
      <li><a href="Pasteleria.html" class="li3">Pasteleria</a></li>
      <li><a href="Bebidas.html" class="li3">Bebidas</a></li>
      <li><a href="contacto.html" class="li3">Contacto</a></li>
      <li><a href="Servicios.html" class="li3">Conoce mas</a></li>
      <li><a href="Precios.html" class="li3">Tabla de precios</a></li>

    </ul>
  

    <p>
       El mayor surtido de panes artesanales, con todas las variedades de cereales, blancos, integrales y toda una gama de barras, formas y cortes 
       con los que derretiras de la delicia en tu día a día.
    </p>
    <div id="img">
    <img src="../img/variepanes.jpeg" width="60%">
    </div>
    <p>
      Te ofrecemos domicilios, nos puedes marcar al numero: 3125520814
    </p>
     <p>
      Tenemos eventos tales como los viernes sacamos a ofrecer nuestros postres con un bajo precio, es decir desde: $1000 pesos. Ven y acompañanos cada viernes desde las 4:00 pm
    </p>
    <div id="img">
    <img src="../img/dulces.jpeg" width="60%">
  </div>

     <p>

      Tambien te ofrecemos rifas para ganar motos, computadores, por tan solo comprar un producto de nuestra panaderia ya tienes una boleta con que participar. Por eso ven compra y gana.
    </p>


    <div id="img">
    <img src="../img/panes6.jpeg" width="60%">
  </div>

<br>
<br>

</div>
  <iframe  src="../templates/foot.html" id="iframe-foot" ></iframe>
    



</body>
</div>
</html>
    