<!DOCTYPE html>
<html lang="es">
<head>
	<title></title>

 <link rel="stylesheet" type="text/css" href="../css/foot.css">
</head>
<body>

  <div id="foot">
        
        <div class="divfoot">
        <center>
        <span class="spanfoot">Como llegar</span><br><br>
      </center>
        <a href="../views/Como llegar.html" class="li2" target="_parent"> Direccion</a><br>
        </div>
    
         <div class="divfoot">
         <center>
         <span class="spanfoot">Corporativo</span><br><br>
       </center>
         <a href="../Index.html" class="li2" target="_parent">Inicio</a><br>
         <a href="../views/Nuetra Historia.html" class="li2" target="_parent">Quienes Somos</a><br>
         <a href="../views/Mision.html" class="li2" target="_parent">Mision</a><br>
         <a href="../views/Vision.html" class="li2" target="_parent">Vision</a><br>
         <a href="../views/contacto.html" class="li2" target="_parent">Contacto</a><br>
         <a href="../views/registro.html" class="li2" target="_parent">Registrarse</a><br>
         <a href="../views/login.html" class="li2" target="_parent">Login</a>
         </div>
    
          <div class="divfoot">
          <center>
          <span class="spanfoot">Servicios</span><br><br>    
          </center>
          <a href="../views/Panes.html" class="li2" target="_parent">Panes</a><br>
          <a href="../views/Pasteleria.html" class="li2" target="_parent">Pasteleria</a><br>
          <a href="../views/Bebidas.html" class="li2" target="_parent">Bebidas</a><br>
          <a href="../views/contacto.html" class="li2" target="_parent">Contacto</a><br>
          <a href="../views/Servicios.html" class="li2" target="_parent">Conoce mas</a><br>
          <a href="../views/Precios.html" class="li2" target="_parent">Tabla de Precios</a><br>
          </div>
    
       
       <div class="divfoot">
       <center>
       <span class="spanfoot">Redes Sociales</span><br><br>
       
       <a href="https://www.facebook.com/Panderia-Dani-1184940214973410/" target="_blank"><img src ="../img/facebook.png" width="15%" ></a>
       <a href=" https://www.instagram.com/?hl=es-la" target="_blank"><img src="../img/instagram.png" width="15%"></a>
       <a href="https://co.pinterest.com/" target="_blank"><img src="../img/pinterest.png" width="15%"></a>
       <a href="https://twitter.com/?lang=es" target="_blank"><img src="../img/twitter.png" width="15%"></a>
       </div>
     </center>


      </div>

  
    
