<!DOCTYPE html>
<html lang="es">
<head>
	<title></title>

 <ul>

      <li><a id="margin" href="../Index.html" class="li" target="_parent">Inicio</a></li>
      <li><a href="../views/Nuetra Historia.html" class="li" target="_parent">Quienes Somos</a></li>
      <li><a href="../views/Mision.html" class="li" target="_parent">Mision</a></li>
      <li><a href="../views/Vision.html" class="li" target="_parent">Vision</a></li>
      <li><a href="../views/contacto.html" class="li" target="_parent">Contacto</a></li>
      <li><a href="../views/registro.html" class="li" target="_parent">Registrarse</a></li>
      <li><a href="../views/login.html" class="li" target="_parent">Login</a></li>
     </ul>
<link rel="stylesheet" type="text/css" href="../css/header.css">

<body>
<div id="container">
   <center>
    <div id="banner" id="header">
    <h1>
    <br><br><br>
    <span id="panaderia">PANADERIA</span>
    <span id="dani">DANI</span>
    </h1> 

 
    
     
     </div>
   </center>
   
   </div>
 </body>
</head>


